<!DOCTYPE html>
<html>
<head>
  <title>Accueil</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">ACCUEIL</a></li>
        <li><a href="/services">NOS SERVICES</a></li>
        <li><a href="/contact">CONTACTEZ-NOUS</a></li>
      </ul>
    </nav>
  </header>
 <h1>Tout commence avec un Nescafé</h1>
<section>
 
  <img src="image-nescafé2.jpg" alt="Mon image" class="img-styled">
 <h1> Support technique : Si vous rencontrez des problèmes avec votre machine à café Nescafé, vous pouvez contacter leur service client pour obtenir de l'aide. Ils peuvent vous guider à travers les étapes de dépannage ou organiser une réparation si nécessaire.</h1>
    </section>
   
    <footer>
      <p>© 2023 -Mon Entreprise</p>
  </footer>
</body>
</html>
